# Зависимости
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
logs
*.log

# Директории сборки
dist
build
out

# Кэш
.cache
.npm
.eslintcache

# Файлы IDE
.idea
.vscode
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Документация
README.md
LICENSE
docs

# Скрипты развертывания
deploy.sh 