# Telegram Bot
BOT_TOKEN=your_telegram_bot_token
TELEGRAM_PROVIDER_TOKEN=your_telegram_payment_provider_token

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ra_app_bot
# Для Docker
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/ra_app_bot

# API
API_URL=https://api.example.com
API_TOKEN=your_api_token

# Webhook
NODE_ENV=development
PORT=3000
WEBHOOK_DOMAIN=https://your-domain.com

# Logging
LOG_LEVEL=info

# Admin
ADMIN_IDS=123456789,987654321

# Support
SUPPORT_EMAIL=support@example.com
SUPPORT_PHONE=+7 (XXX) XXX-XX-XX

# Self-employed
SELF_EMPLOYED_NAME=Иванов Иван Иванович
SELF_EMPLOYED_INN=123456789012
SELF_EMPLOYED_PHONE=+7 (XXX) XXX-XX-XX
SELF_EMPLOYED_EMAIL=self-employed@example.com

# Docker
DOCKER_REGISTRY=rast53
DOCKER_IMAGE_TAG=v.1 